$salmon: #FF6060;
.detailsTag {
    background-color: $salmon;
    color: #FFFFFF;
    border-radius: 50px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px 0 0;
    padding: 0 10px;
}

// Mediaquerys 
@media screen and (max-width:767px) {
    .detailsTag {
        font-size: 13px;
    }
}

@media screen and (max-width:575px) {
    .detailsTag {
        font-size: 12px;
    }
}

@media screen and (max-width:375px) {
    .detailsTag {
        font-size: 10px;
        padding: 0 5px;
    }
}