.hosterName {
    font-size: 18px;
    margin-right: 10px;
}

// Mediaquerys 
@media screen and (max-width:800px) {
    .hosterName {
        font-size: 16px;
    }
}


@media screen and (max-width:375px) {
    .hosterName {
        font-size: 12px;
    }
}