.rating {
    .emptyStar, .filledStar {
        svg {
            font-size: 24px;
            margin: 5px 5px 0 0;
        }
    }
    .emptyStar {
        svg {
            color: #E3E3E3;
        }
    }
}

// Mediaquerys 
@media screen and (max-width:800px) {
    .rating {
        .emptyStar, .filledStar {
            svg {
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width:500px) {
    .rating {
        .emptyStar, .filledStar {
            svg {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width:375px) {
    .rating {
        .emptyStar, .filledStar {
            svg {
                font-size: 12px;
            }
        }
    }
}