.hosterImg {
    object-fit: cover;
    img {
        border-radius: 50%;
        width: 64px;
    }
}

// Mediaquerys 
@media screen and (max-width:767px) {
    .hosterImg {
        img {
            width: 52px;
        }
    }
}


@media screen and (max-width:375px) {
    .hosterImg {
        img {
            width: 32px;
        }
    }
}