$radius: 10px;

#homeContent {
    #homeTitle {
        border-radius: $radius;
        height: 223px;
        margin: 63px auto 43px auto;
        position: relative;
        img {
            position: absolute;
            border-radius: $radius;
            filter: brightness(65%);
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
        h1 {
            color: #FFFFFF;
            font-size: 40px;
            font-weight: 500;
            left: 50%;
            margin: 0;
            position: absolute;
            text-align: center;
            top: 50%; 
            transform: translate(-50%, -50%);
            z-index: 1;
        }
    }
    #cardList {
        align-items: center;
        background-color: #f6f6f6;
        border-radius: $radius;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}