$salmon : #FF6060;

header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    nav a {
        text-decoration: none;
        margin-left: 55px;
        color: $salmon;
        font-size: 24px;
    }
    nav a:hover {
        text-decoration: underline;
    }
}

// Mediaquerys 
// Tablet
@media screen and (max-width: 800px) {
    header {
        img {
            max-width: 145px;
            max-height: 47px;
        }
        nav a {
            font-size: 20px;
            text-transform: uppercase;
        }
    }
}

// Phone
@media screen and (max-width: 480px) {
    header {
        align-items: center;
        img {
            max-width: 115px;
        }
        nav a {
            font-size: 12px;
        }
    }
}
