footer {
    width: 100%;
    height: 180px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    margin-top: 20px;
    p {
        color: #FFFFFF;
        font-size: 24px;
    }
}

// Mediaquerys
// Tablet
@media screen and (max-width: 789px) {
    footer {
        p {
            font-size: 20px;
        }
    }
}

// Phone
@media screen and (max-width: 375px) {
    footer {
        justify-content: center;
        gap: 20px;
        margin-top: 0;
        p {
            max-width: 140px;
            font-size: 12px;
            text-align: center;
        }
    }
}