$salmon : #FF6060;

#notFoundContent {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;
    h1 {
        font-size: 250px;
        margin: 0 auto 25px auto;
    }
    p {
        font-size: 36px;
        margin: 25px auto 75px auto;
    }
    a {
        color: $salmon;
        font-size: 18px;
        margin: 75px auto 0 auto;
    }
}