$salmon : #FF6060;

#notFoundContent {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    h1 {
        font-size: 250px;
    }
    p {
        font-size: 36px;
    }
    a {
        color: $salmon;
        font-size: 18px;
    }
}

// Mediaquerys
// Responsive Tablet
@media screen and (max-width:991px) {
    #notFoundContent {
        h1 {
            font-size: 200px;
        }
        p {
            font-size: 28px;
        }
    }
    
}

// Responsive Large phone
@media screen and (max-width:767px) {
    #notFoundContent {
        h1 {
            font-size: 150px;
        }
        p {
            font-size: 24px;
        }
    } 
}

// Responsive Thin phone
@media screen and (max-width:375px) {
    #notFoundContent {
        h1 {
            font-size: 96px;
        }
        p {
            font-size: 18px;
        }
        a {
            font-size: 14px;
        }
    } 
}